<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KeraLua" version="1.2.3" targetFramework="net472" />
  <package id="MonoGame.Framework.Content.Pipeline.Portable" version="3.7.1.189" targetFramework="net472" />
  <package id="MonoGame.Framework.Portable" version="3.7.1.189" targetFramework="net472" />
  <package id="NLua" version="1.4.32" targetFramework="net472" />
  <package id="OpenTK" version="3.2" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
</packages>