<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KeraLua" version="1.0.29" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="NLua" version="1.4.32" targetFramework="net472" />
  <package id="OpenTK" version="3.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
</packages>